@import "tailwindcss";

:root {
  --background: #23272b;
  --foreground: #fff;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-press-start), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

/* 
 * 暗黑主题
 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* 
 * 自定义字体
 */
@font-face {
  font-family: 'ZQK';
  src: url('/font/ZQK.ttf') format('truetype');
}

.font-zqk {
  font-family: 'ZQK', sans-serif;
}

/* 滚动条的宽度 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 滚动条的样式 */
::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}

/* 滚动条在鼠标悬停时的样式 */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}